* {
  margin: 0;
  padding: 0;
}

.SecondApp {
  text-align: center;
  background-color: #3d5076;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
